@import 'normalize.scss';

// === Mixins ===
@mixin font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

@mixin font-open-sans-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

@mixin font-open-sans-semi-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

@mixin font-open-sans-regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@mixin font-raleway {
  font-family: 'Raleway', sans-serif;
}

@mixin font-raleway-regular {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

@mixin font-raleway-light {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

@mixin font-raleway-bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

@mixin orange-line {
  content: "";
  position: absolute;
  left: calc(50% - 30px);
  display: block;
  height: 2px;
  width: 64px;
  background-color: #ff8b38;
  margin-top: 30px;
}


@mixin white-line {
  content: "";
  position: absolute;
  left: calc(50% - 30px);
  display: block;
  height: 2px;
  width: 64px;
  background-color: #ffffff;
  margin-top: 30px;
}

@mixin intro-title{
  @include font-raleway-regular;
  font-size: 36px;
  line-height: 43px;
  color: #212121;
  padding-bottom: 30px;
  position: relative;
}

@mixin intro-text{
  @include font-open-sans-regular;
  font-size: 14px;
  line-height: 20px;
  color: #86878b;
  padding-top: 30px;
}

@mixin transparent-button{
  @include font-open-sans-semi-bold;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  padding: 12px 30px;
  border: 2px solid #ffffff;
  background-color: transparent;
}

@mixin orange-button{
  @include font-open-sans-semi-bold;
  border: none;
  border-radius: 5px;
  background-color: #ff8b38;

  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  padding: 13px 21px;
}
// === / Mixins ===

// === Variables ===
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
// === / Variables ===

.section-outer {
  padding-right: 20px;
  padding-left: 20px;
}

.section-inner {
  max-width: 1100px;
  margin: 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.section-navbar {
  .section-inner{
    display: flex;
    justify-content: space-between;
  }
  .btnNav{
    display: block;
    padding-top: 10px;
  }
  @media (min-width: $screen-sm-max){
    .btnNav{
      display: none;
    }
  }
  background-color: #000000;
  height: 72px;

  .logo {
    padding-top: 14px;
    padding-bottom: 31px;
  }
  nav{
    .main-nav {
      display: flex;
      margin: 0;
      list-style: none;
      @media (max-width: $screen-sm-max){
        flex-direction: column;
        z-index: 3;
      }
      li a {
        @include font-open-sans-regular;
        color: #ffffff;
        font-size: 14px;
        text-decoration: none;
        display: block;
        padding: 23px;
      }
      li a:hover{
        color: #ff8b38;
      }
      @media (max-width: $screen-sm-max){
        display: none;
      }
    }
  }

  .menuBtn{
    display: none;
    color: #ffffff;
    font-size: 26px;
    margin-top: 10px;
    @media (max-width: $screen-sm-max){
      display: block;
    }
  }
}

.section-header{
  background: #000000 url("../img/bgrImg.png") no-repeat 50% 50%;
  background-size: cover;
}

.section-header-main {
  height: calc(100vh - 10px);
  display: flex;
  padding-top: 108px;

  @media (max-width: 1300px) {
    padding-top: 50px;
  }
  &__free-trial {
    flex-basis: 40%;
  }
  &__content{
    flex-basis: 60%;
  }
  &__content {
    padding-right: 210px;
    color: #ffffff;
    @media (max-width: 1300px) {
      padding-right: 100px;
    }
    .logo {
      padding-bottom: 33px;
    }
    .title {
      @include font-raleway;
      font-size: 36px;
      padding-bottom: 40px;
      @media (max-width: $screen-lg-max){
        font-size: 30px;
        padding-bottom: 20px;
      }
    }
    .title::after {
      content: "";
      display: block;
      height: 2px;
      width: 64px;
      background-color: #fff;
      margin-top: 40px;
      @media (max-width: $screen-lg-max){
        margin-top: 20px;
      }
    }
    .text {
      @include font-raleway-light;
      position: relative;
      font-size: 16px;
      line-height: 23px;
    }
    .download {
      margin-top: 40px;
      button {
        @include transparent-button;
        transition: 0.3s;
      }
      button:hover{
        background-color: rgba(255,255,255,0.1);
        color: #ffffff;
      }
      @media (max-width: 1300px) {
        margin-top: 20px;
      }
    }
    @media (max-width: $screen-lg-max) {
      padding-right: 100px;
    }
    @media (max-width: $screen-sm) {
      padding-right: 40px;
    }
  }
  &__free-trial {
    border-radius: 4px;
    margin: 0;

    box-sizing: border-box;
    background-color: #ffffff;
    height: 375px;
    max-width: 360px;
    .form-title {
      @include font-open-sans-bold;
      border-radius: 4px;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #f5f5f5;
      font-size: 20px;
      color: #333333;
      span {
        color: #ff8b38;
      }
    }
    form {
      padding-right: 45px;
      padding-left: 45px;
    }
    &-input {
      border-bottom: 1px solid #bdbdbd;
      margin: 46px 0;
      input {
        border: none;
        padding-bottom: 9px;
      }
      input[placeholder] {
        @include font-open-sans-regular;
        font-size: 14px;
        color: #333333;
        width: 100%;
      }
    }
    .getStartedBtn {
      @include font-open-sans-semi-bold;
      font-size: 15px;
      color: #ffffff;

      border: none;
      background-color: #ff9b51;
      width: 100%;
      height: 60px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .getStartedBtn:hover{
      background-color: #333333;
    }
    @media (max-width: $screen-sm-max){
      width: 70%;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    @media (max-width: $screen-sm) {
      width: 100%;
    }
  }
  @media (max-width: $screen-sm-max){
    flex-direction: column;
    height: 100%;
  }
  @media (max-width: $screen-sm) {
    padding-top: 50px;
  }
}

.section-social-media {
  background-color: #fff;
  box-shadow: 0 6px 14px -11px rgba(0,0,0,0.75);
  .section-inner {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    @media (max-width: $screen-sm-max){
      flex-direction: column;
    }
  }
  &__content, &__icons {
    flex-basis: 50%;
  }
  &__content {
    padding-right: 40px;
    .title {
      @include font-open-sans-bold;
      font-size: 20px;
      color: #333333;
      @media (max-width: $screen-sm-max){
        font-size: 15px;
      }
    }
    .text {
      @include font-open-sans-regular;
      padding-top: 10px;
      font-size: 14px;
      line-height: 20px;
      color: #86878b;
      @media (max-width: $screen-sm-max){
        font-size: 10px;
        line-height: 15px;
      }
    }
  }
  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;

    i{
      font-size: 48px;
      color: #cccccc;
      @media (max-width: $screen-sm-max){
        font-size: 30px;
      }
    }
    i:hover{
      color: #333333;
    }
  }
}

.section-tabs{
  padding-top: 100px;
  padding-bottom: 115px;
  background-color: #f5f5f5;
    .section-inner{
      display: flex;
      flex-direction: row;
      @media (max-width: $screen-md-max) {
        flex-direction: column;
      }
    }
  &__content {
    flex-basis: 70%;
    max-width: 700px;
    padding-right: 102px;

    input, .transitioningContent > div {
      display: none;
    }
    #tab1:checked ~ .transitioningContent .tab1,
    #tab2:checked ~ .transitioningContent .tab2,
    #tab3:checked ~ .transitioningContent .tab3 {
      display: block;
    }
    .tab1 {
      label {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }
    }
    .tab3 {
      label {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    ul li{
      border-color: #f5f5f5;
    }
    ul li label {
      padding: 50px 35px;
      border: 0.5px solid #f5f5f5;
      background-color: #333333;
      margin-bottom: 0;
      @include font-open-sans-bold;
      font-size: 15px;
      line-height: 20px;
      color: #ffffff;
      @media (max-width: $screen-sm) {
        padding: 40px 25px;
      }
    }
    ul li label:focus {
      background-color: #ff8b38;
    }
    nav{
      float: left;
    }
    .transitioningContent{
      float: right;
      display: inline;
      width: 59%;
      padding-top: 60px;

      .title{
        @include font-open-sans-bold;
        font-size: 20px;
        color: #000000;
      }
      .text{
        @include font-open-sans-regular;
        padding-top: 52px;
        font-size: 14px;
        line-height: 20px;
        color: #86878b;
        @media (max-width: $screen-sm) {
          padding-top: 15px;
        }
      }
      button{
        @include orange-button;
        margin-top: 51px;

        @media (max-width: $screen-sm) {
          margin-top: 15px;
        }
      }
      button:hover{
        background-color: #333333;
      }
      @media (max-width: $screen-lg-max){
        width: 70%;
      }
      @media (max-width: $screen-sm) {
        padding-top: 0;
        width: 60%;
      }
      @media (max-width: 1300px){
        padding-top: 0px;
      }
    }
    @media (max-width: $screen-lg-max){
      padding-right: 50px;
    }
    @media (max-width: $screen-xs-max){
      padding-right: 0;
    }
  }
  &__picture{
    align-self: center;
    @media (max-width: $screen-md-max){
      margin-top: 150px;
    }
    img{
      @media (max-width: 375px){
        width: 300px;
      }
    }
  }
}

.section-sublist{
  padding-top: 112px;
  padding-bottom: 110px;

  .section-inner{
    display: flex;
    flex-direction: row;
    @media (max-width: $screen-sm-max){
      flex-direction: column;
    }
  }
  &__picture, &__content{
    flex-basis: 50%;
  }
  &__picture{
    padding-right: 158px;
    img{
      @media (max-width: $screen-sm-max){
        max-width: 100%;
      }
    }
    @media (max-width: $screen-lg-max) {
      padding-right: 50px;
    }
    @media (max-width: $screen-sm-max){
      order: -1;
    }
  }
  &__content{
    max-width: 413px;
    .title{
      @include font-open-sans-bold;
      font-size: 20px;
      line-height: 43px;
      color: #212121;
      padding-bottom: 30px;
    }
    .title::after{
      content: "";
      display: block;
      height: 2px;
      width: 64px;
      background-color: #ff8b38;
      margin-top: 30px;
    }
    .text{
      @include font-open-sans-regular;
      font-size: 14px;
      line-height: 20px;
      color: #86878b;

    }
    .sublistGrid{
      .sublistItem{
        display: flex;
        flex-direction: row;
        padding-top: 42px;
        .sublistIcon{
          padding-right: 31px;
        }
        .sublistItemContent{
          .sublistTitle{
            @include font-open-sans-semi-bold;
            font-size: 14px;
            line-height: 17px;
            color: #212121;
          }
          .sublistText{
            @include font-open-sans-regular;
            font-size: 14px;
            line-height: 20px;
            color: #86878b;
            padding-top: 12px;
          }

        }
      }
    }
  }
}

.section-standard-picture{
  background-color: #f5f5f5;
  padding-top: 76px;
  padding-bottom: 74px;
  .section-inner{
    display: flex;
    flex-direction: row;
    @media (max-width: $screen-sm-max){
      flex-direction: column;
    }
  }
  &__pic, &__content{
    flex-basis: 50%;
  }
  &__pic{
    img{
      @media (max-width: $screen-md){
        max-width: 100%;
      }
    }
    @media (max-width: $screen-md){
      order: -1;
    }
  }
  &__content{
    .title{
      @include font-open-sans-bold;
      font-size: 20px;
      line-height: 43px;
      color: #212121;
      padding-bottom: 30px;
    }
    .title::after{
      content: "";
      display: block;
      height: 2px;
      width: 64px;
      background-color: #ff8b38;
      margin-top: 30px;
    }
    .text{
      @include font-open-sans-regular;
      font-size: 14px;
      line-height: 20px;
      color: #86878b;
      padding-right: 80px;
      @media (max-width: $screen-lg-max){
        padding-right: 40px;
      }
    }
  }

}

.section-awesome{
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  .section-inner{
    display: flex;
    flex-direction: column;
  }
  &__intro{
    text-align: center;
    .title{
      @include intro-title;
    }
    .title::after{
      @include orange-line;
    }
    .text{
      @include intro-text;
    }
  }
  &__blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 80px;
    &-item{
      text-align: center;
      flex-basis: 30%;
      &-title{
        @include font-open-sans-bold;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
        padding-top: 30px;
      }
      &-text{
        @include font-open-sans-regular;
        font-size: 14px;
        line-height: 20px;
        color: #86878b;
        padding-top: 25px;
      }
      @media (max-width: $screen-sm-max){
        width: 70%;
        align-self: center;
        padding-top: 30px;
      }
    }
    @media (max-width: $screen-sm-max){
      flex-direction: column;
      padding-top: 0;
    }
  }
}

.section-pricing{
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 100px;
  .section-inner{
    display: flex;
    flex-direction: column;
  }
  &__intro{
    text-align: center;
    .title{
      @include intro-title;
    }
    .title::after{
      @include orange-line;
    }
    .text{
      @include intro-text;
    }
  }
  &__blocks{
    display: flex;
    flex-direction: row;
    padding-top: 80px;

    &-item{
      width: 340px;
      margin-right: 40px;
      padding-top: 30px;
      @media (min-width: 1020px) and (max-width: 1100px){
        width: 310px;
      }
      @media (max-width: $screen-sm-max){
        width: 100%;
      }
      &-prof{
        padding-top: 0;
        @media (max-width: $screen-sm-max){
          padding-top: 40px;
        }
      }
      &-name, &-price{
        background-color: #333333;
      }
      &-name{
        @include font-open-sans-bold;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #f5f5f5;
      }
      &-price{
        padding-bottom: 15px;
        text-align: center;
        &-number{
          @include font-raleway-bold;
          color: #ffffff;
          .dollar{
            font-size: 35px;
          }
          .num{
            font-size: 80px;
          }
        }
        &-desc{
          @include font-open-sans-regular;
          font-size: 14px;
          line-height: 24px;
          color: #86878b;
          font-style: italic;
          padding-top: 10px;
        }

      }
      &-services:before{
        content: "";
        display: block;
        height: 5px;
        width: 100%;
        background-color: #ff8b38;
      }
      &-services-prof:before{
        content: "OUR MOST POPULAR";
        @include font-open-sans-semi-bold;
        padding-top: 8px;
        display: block;
        height: 34px;
        width: 100%;
        color: #ffffff;
        background-color: #ff8b38;
        font-size: 14px;
        line-height: 24px;
      }
      &-services{
        @include font-open-sans-regular;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 24px;
        color: #86878b;
        text-align: center;
        &-option{
          background-color: #fff;
          padding-top: 8px;
          padding-bottom: 8px;
          border-bottom: 1px solid #f5f5f5;
        }
      }
      @media (max-width: $screen-sm-max){
        align-self: center;
        margin-right: 0;
      }
    }
    &-item:last-child{
      margin-right: 0 ;
    }
    @media (max-width: $screen-sm-max){
      flex-direction: column;
      padding-top: 0;
    }
  }
}

.section-customers{
  padding-top: 100px;
  padding-bottom: 90px;
  background-color: #fff;
  .section-inner{
    display: flex;
    flex-direction: column;
    @media (max-width: $screen-sm-max){
      width: 70%;
    }
  }
  &__intro{
    text-align: center;
    .title{
      @include intro-title;
    }
    .title::after{
      @include orange-line;
    }
    .text{
      @include intro-text;
    }
  }
  &__blocks{
    display: flex;
    flex-direction: row;
    padding-top: 55px;
    &-item{
      width: 270px;
      margin-right: 120px;;

      &-comment{
        @include font-open-sans-regular;
        background-color: #f5f5f5;
        font-size: 14px;
        color: #86878b;
        font-style: italic;
        padding: 20px 10px;
      }
      &-author{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        .info{
          align-self: center;
          padding-left: 15px;
          .name{
            @include font-open-sans-bold;
            font-size: 20px;
            color: #333333;
          }
          .post{
            padding-top: 5px;
            @include font-open-sans-regular;
            font-size: 14px;
            color: #86878b;
          }
        }
      }
      @media (max-width: $screen-sm-max){
        align-self: center;
        margin-right: 0;
        margin-top: 30px;
      }
    }
    &-item:last-child{
      margin-right: 0;
      @media (max-width: $screen-sm-max){
        display: none;
      }
    }
    @media (max-width: $screen-sm-max){
      flex-direction: column;
      padding-top: 0;
    }
  }
}

.section-design{
  padding-top: 70px;
  padding-bottom: 60px;
  background: #000000 url("../img/designBdr.png") no-repeat 50% 50%;
  background-size: cover;
  text-align: center;

  &__intro{
    .title{
      @include font-raleway;
      font-size: 36px;
      color: #ffffff;
      padding-bottom: 30px;
    }
    .title::after{
      @include white-line;
    }
    .text{
      @include font-raleway-light;
      font-size: 16px;
      color: #ffffff;
      padding-top: 30px;
    }
  }
  &__download{
      margin-top: 30px;
    button{
      @include transparent-button;
    }
    button:hover{
      background-color: rgba(255,255,255,0.1);
      color: #ffffff;
    }
  }
}

.section-contact{
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
  &__intro{
    .title{
      @include intro-title;
    }
    .title::after{
      @include orange-line;
    }
    .text{
      @include intro-text;
    }
  }
  &__form{
    padding-top: 60px;
    .formContact{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media (max-width: $screen-sm) {
        flex-direction: column;
      }
      .input-fields{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 70px;

        input{
          background: transparent;
          border:0;
          border-bottom: 1px solid #bdbdbd;
          padding-top: 30px;
          padding-bottom: 10px;

          @include font-open-sans-regular;
          font-size: 14px;
          color: #000000;
        }
        input:first-child{
          padding-top: 0;
        }
        @media (max-width: $screen-sm) {
          width: 100%;
        }
      }
      .msg{
        width: 50%;
        textarea{
          background: transparent;
          border: 0;
          border-bottom: 1px solid #bdbdbd;
          width: 100%;
          height: 150px;

          @include font-open-sans-regular;
          font-size: 14px;
          color: #000000;
          @media (max-width: $screen-sm) {
            margin-top: 15px;
          }
        }
        @media (max-width: $screen-sm) {
          width: 100%;
        }
      }
    }
  }
  &__button {
    margin-top: 40px;
    button{
      @include orange-button;
    }
    button:hover{
      background-color: #333333;
    }
  }
}

.section-footer{
  height: 84px;
  background-color: #000000;
  &__icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    i{
      font-size: 24px;
      color: #cccccc;
      margin-top: 20px;
      margin-right: 15px;
      margin-left: 15px;
      @media (max-width: 375px) {
        font-size: 20px;
        margin-right: 10px;
        margin-left: 10px;
      }
    }
    i:hover{
      color: #ffffff;
    }
  }
  &__prod{
    @include font-open-sans-regular;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
  }
}

#modalMenu{
  .modal-content{
    background-color: #ff8b38;
  }
  button{
    text-align: right;
    span{
      padding-right: 5px;
    }
  }
  .modal-body{
    text-align: center;
  }
  .menuItem{
    margin-top: 15px;
  }
  .menuItem a {
    @include font-open-sans-bold;
    color: #333333;
    font-size: 20px;
    text-decoration: none;
  }
  .menuItem a:hover{
    color: #ffffff;
  }
  .menuItem:last-child{
    margin-bottom: 20px;
  }
}



















