@import 'normalize.scss';

// === Mixins ===
@mixin font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

@mixin font-open-sans-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

@mixin font-open-sans-semi-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

@mixin font-open-sans-regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@mixin font-raleway {
  font-family: 'Raleway', sans-serif;
}

@mixin font-raleway-regular {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

@mixin font-raleway-light {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

@mixin font-raleway-bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

@mixin orange-line {
  content: "";
  position: absolute;
  left: calc(50% - 30px);
  display: block;
  height: 2px;
  width: 64px;
  background-color: #ff8b38;
  margin-top: 30px;
}

@mixin intro-title{
  @include font-raleway-regular;
  font-size: 36px;
  line-height: 43px;
  color: #212121;
  padding-bottom: 30px;
  position: relative;
}

@mixin intro-text{
  @include font-open-sans-regular;
  font-size: 14px;
  line-height: 20px;
  color: #86878b;
  padding-top: 30px;
}
// === / Mixins ===

.section-inner {
  width: 100%;
  margin: 0 auto;
}

.section-header-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  height: 72px;
  padding-right: 127px;
  padding-left: 150px;

  .logo {
    padding-top: 14px;
    padding-bottom: 31px;
  }
  .main-nav {
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;

    li a {
      @include font-open-sans-regular;
      color: #ffffff;
      font-size: 14px;
      text-decoration: none;
      display: block;
      padding: 23px;
    }
  }

}

.section-header-main {
  padding-right: 150px;
  padding-left: 150px;

  height: calc(100vh - 72px);
  display: flex;
  padding-top: 108px;
  background: #000000 url("../img/bgrImg.png") no-repeat 50% 50%;
  background-size: cover;
  &__content, &__free-trial {
    flex-basis: 50%;
  }
  &__content {
    padding-right: 229px;
    color: #ffffff;
    .logo {
      padding-bottom: 33px;
    }
    .title {
      @include font-raleway;
      font-size: 36px;
      padding-bottom: 40px;
    }
    .title::after {
      content: "";
      display: block;
      height: 2px;
      width: 64px;
      background-color: #fff;
      margin-top: 40px;
    }
    .text {
      @include font-raleway-light;
      position: relative;
      font-size: 16px;
      line-height: 23px;

    }
    .download {
      margin-top: 40px;
      button {
        @include font-open-sans-semi-bold;
        text-align: center;
        color: #ffffff;
        font-size: 15px;
        padding: 12px 30px;
        border: 2px solid #ffffff;
        background-color: transparent;
      }

    }
  }
  &__free-trial {
    border-radius: 4px;
    margin: 0;

    box-sizing: border-box;
    background-color: #ffffff;
    height: 375px;
    .form-title {
      @include font-open-sans-bold;
      border-radius: 4px;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #f5f5f5;
      font-size: 20px;
      color: #333333;
      span {
        color: #ff8b38;
      }
    }
    form {
      padding-right: 45px;
      padding-left: 45px;
    }
    &-input {
      border-bottom: 1px solid #bdbdbd;
      margin: 46px 0;
      input {
        border: none;
        padding-bottom: 9px;
      }
      input[placeholder] {
        @include font-open-sans-regular;
        font-size: 14px;
        color: #333333;
      }

    }
    .getStartedBtn {
      @include font-open-sans-semi-bold;
      font-size: 15px;
      color: #ffffff;

      border: none;
      background-color: #ff9b51;
      width: 100%;
      height: 60px;

    }

  }
}

.section-social-media {
  background-color: #fff;
  box-shadow: 0px 6px 14px -11px rgba(0,0,0,0.75);
  .section-inner {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 25px;
    //padding-left: 152px;
    //padding-right: 167px;
  }
  &__content, &__icons {
    flex-basis: 50%;
  }
  &__content {
    padding-left: 152px;
    padding-right: 40px;
    .title {
      @include font-open-sans-bold;
      font-size: 20px;
      color: #333333;
    }
    .text {
      @include font-open-sans-regular;
      padding-top: 10px;
      font-size: 14px;
      line-height: 20px;
      color: #86878b;
    }
  }
  &__icons {
    padding-right: 167px;
    img {
      max-width: 634px;
    }

  }

}

.section-tabs{
  padding-top: 100px;
  padding-bottom: 115px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #000000;
    .section-inner{
      display: flex;
      flex-direction: row;

      padding-left: 50px;
    }
  &__content {
    flex-basis: 70%;
    max-width: 700px;
    padding-right: 102px;
    padding-left: 142px;
    input, .transitioningContent > div {
      display: none;
    }
    #tab1:checked ~ .transitioningContent .tab1,
    #tab2:checked ~ .transitioningContent .tab2,
    #tab3:checked ~ .transitioningContent .tab3 {
      display: block;
    }
    .tab1 {
      label {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }
    }
    .tab3 {
      label {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    ul li{
      margin-top: 100px;
      border-color: #f5f5f5;
    }
    ul li label {
      padding: 50px 35px;
      border: 1px solid #f5f5f5;
      background-color: #333333;

      @include font-open-sans-bold;
      font-size: 15px;
      line-height: 20px;
      color: #ffffff;

    }
    ul li label:focus {
      background-color: #ff8b38;
    }
    nav{
      float: left;
    }
    .transitioningContent{
      float: right;
      display: inline;
      width: 59%;
      padding-top: 60px;

      .title{
        @include font-open-sans-bold;
        font-size: 20px;
        color: #000000;
      }
      .text{
        @include font-open-sans-regular;
        padding-top: 52px;
        font-size: 14px;
        line-height: 20px;
        color: #86878b;
      }
      button{
        @include font-open-sans-semi-bold;
        margin-top: 51px;
        border: none;
        border-radius: 5px;
        background-color: #ff8b38;
        padding: 16px 25px;

        font-size: 15px;
        line-height: 20px;
        color: #ffffff;
      }
    }
  }
  &__picture{
    //flex-basis: 30%;
    align-self: center;
  }
}

.section-sublist{
  padding-top: 112px;
  padding-bottom: 110px;
  padding-left: 116px;
  .section-inner{
    display: flex;
    flex-direction: row;
  }
  &__picture{
    padding-right: 158px;
  }
  &__content{
    max-width: 413px;
    .title{
      @include font-open-sans-bold;
      font-size: 20px;
      line-height: 43px;
      color: #212121;
      padding-bottom: 30px;
    }
    .title::after{
      content: "";
      display: block;
      height: 2px;
      width: 64px;
      background-color: #ff8b38;
      margin-top: 30px;
    }
    .text{
      @include font-open-sans-regular;
      font-size: 14px;
      line-height: 20px;
      color: #86878b;

    }
    .sublistGrid{
      .sublistItem{
        display: flex;
        flex-direction: row;
        padding-top: 42px;
        .sublistIcon{
          padding-right: 31px;
        }
        .sublistItemContent{
          .sublistTitle{
            @include font-open-sans-semi-bold;
            font-size: 14px;
            line-height: 17px;
            color: #212121;
          }
          .sublistText{
            @include font-open-sans-regular;
            font-size: 14px;
            line-height: 20px;
            color: #86878b;
            padding-top: 12px;
          }

        }
      }
    }
  }
}

.section-standard-picture{
  background-color: #f5f5f5;
  padding: 76px 89px 74px 152px;
  .section-inner{
    display: flex;
    flex-direction: row;
  }
  &__pic, &__content{
    flex-basis: 50%;
  }

  &__content{
    .title{
      @include font-open-sans-bold;
      font-size: 20px;
      line-height: 43px;
      color: #212121;
      padding-bottom: 30px;
    }
    .title::after{
      content: "";
      display: block;
      height: 2px;
      width: 64px;
      background-color: #ff8b38;
      margin-top: 30px;
    }
    .text{
      @include font-open-sans-regular;
      font-size: 14px;
      line-height: 20px;
      color: #86878b;
      padding-right: 80px;
    }
  }

}

.section-awesome{
  background-color: #fff;
  padding: 100px 130px;
  .section-inner{
    display: flex;
    flex-direction: column;
  }
  &__intro{
    text-align: center;
    .title{
      @include intro-title;
    }
    .title::after{
      @include orange-line;
    }
    .text{
      @include intro-text;
    }
  }
  &__blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 80px;
    &-item{
      text-align: center;
      flex-basis: 30%;
      &-title{
        @include font-open-sans-bold;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
        padding-top: 30px;
      }
      &-text{
        @include font-open-sans-regular;
        font-size: 14px;
        line-height: 20px;
        color: #86878b;
        padding-top: 25px;
      }
    }
  }
}

.section-pricing{
  background-color: #f5f5f5;
  padding: 100px 150px;
  .section-inner{
    display: flex;
    flex-direction: column;
  }
  &__intro{
    text-align: center;
    .title{
      @include intro-title;
    }
    .title::after{
      @include orange-line;
    }
    .text{
      @include intro-text;
    }
  }
  &__blocks{
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    &-item{
      width: 340px;
      margin-right: 40px;
      padding-top: 40px;
      &-prof{
        padding-top: 0;
      }
      &-name, &-price{
        background-color: #333333;
      }
      &-name{
        @include font-open-sans-bold;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #f5f5f5;
      }
      &-price{
        padding-bottom: 15px;
        text-align: center;
        &-number{
          @include font-raleway-bold;
          color: #ffffff;
          .dollar{
            font-size: 35px;
          }
          .num{
            font-size: 80px;
          }
        }
        &-desc{
          @include font-open-sans-regular;
          font-size: 14px;
          line-height: 24px;
          color: #86878b;
          font-style: italic;
          padding-top: 10px;
        }

      }
      &-services:before{
        content: "";
        display: block;
        height: 5px;
        width: 100%;
        background-color: #ff8b38;
      }
      &-services-prof:before{
        content: "OUR MOST POPULAR";
        @include font-open-sans-semi-bold;
        padding-top: 8px;
        display: block;
        height: 34px;
        width: 100%;
        color: #ffffff;
        background-color: #ff8b38;
        font-size: 14px;
        line-height: 24px;
      }
      &-services{
        @include font-open-sans-regular;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 24px;
        color: #86878b;
        text-align: center;
        &-option{
          background-color: #fff;
          padding-top: 8px;
          padding-bottom: 8px;
          border-bottom: 1px solid #f5f5f5;
        }
      }
    }
    &-item:last-child{
      margin-right: 0 ;
    }
  }
}

.section-customers{
  padding: 100px 160px 90px 160px;
  background-color: #fff;
  .section-inner{
    display: flex;
    flex-direction: column;
  }
  &__blocks{
    display: flex;
    flex-direction: row;
    padding-top: 55px;
    &-item{
      width: 270px;
    }
  }
}










